@import 'variables';
footer {
  
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 72px;
	background-color: $footer-color;
	text-decoration: none;
    opacity: 1;
    
}

.footerLogo{
    margin-top: 20px ;
    height: 30px;  
} 